---
import BaseLayout from "../../../layouts/baseLayout.astro";
import { travelRecommendations } from "../../../utils/travel_Recs";

export function getStaticPaths() {
  const temples = travelRecommendations[0].temples;
  return temples.map((temple) => {
    return {
      params: {
        id: temple._id,
      },
      props: {
        name: temple.name,
        imageURL: temple.imageUrl,
        description: temple.description,
      },
    };
  });
}

const { id } = Astro.params;
const { name, imageURL, description } = Astro.props;
---

<BaseLayout title="TravelEase: Recommendations | Temples">
  <div class="temple-container">
    <div class="image-container">
      <img src={imageURL} alt="temple-image" />
    </div>
    <div class="name-container">{name}</div>
    <div class="description-container">{description}</div>
    <button>Check Flights</button>
    <button>Book Hotel</button>
  </div>
</BaseLayout>

<style>
  .temple-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: calc(100% - 2rem);
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 6rem;
  }
  .image-container {
    width: 280px;
    height: 160px;
  }
  .image-container img {
    width: 100%;
    height: 100%;
  }
  .name-container {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .description-container {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  @media (max-width: 768px) {
  }
  @media (max-width: 480px) {
    .temple-container {
      margin-top: 4rem;
    }
  }
</style>
