---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Contact">
  <div class="contact-container">
    <div>Contact</div>
  </div>
</BaseLayout>

<style>
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 0.5rem;
  }
</style>
